body {
    font-family: 'Roboto Slab', serif;;
}

.nav-link {
    color: white;
    font-size: 20px;
    align-items: right;
}

.nav-link:hover {
    color: #D4F2BB;
}

.login{
	margin-left: 25px;
}

.signup{
	margin-left: 25px;
}

.form-group{
	margin-top: 10px;
}